[defaults]
inventory               = inventory/
remote_user             = ubuntu
private_key_file        = ~/.ssh/soc_lab_ed25519
host_key_checking       = False
interpreter_python      = auto_silent
result_format         = yaml
retry_files_enabled     = False
deprecation_warnings    = False
force_valid_group_names = ignore

[ssh_connection]
pipelining = True
ssh_args   = -o ControlMaster=auto -o ControlPersist=60s
